.contactUs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 100px;
    /* border: solid yellow; */
}

.contactUs__section {
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    /* border: solid blue; */
}

.contactUs__input {
    margin-top: 20px;
    /* border: solid green; */
}

.contactUs__section-message {
    padding-left: 60px;
    border-left: 0.8px solid black;
}

.contactUs__button {
    margin-top: 18px;
    padding-left: 70%;
}
