.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-top: 25px;
}

.header__logo {
    flex: 1;
    cursor: pointer;
    text-align: center;
}

.header__nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 100px;
}

.header__menu {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
}

.header__menu:hover {
    color: #7F7F7F;
    transition: 0.2s;
}

.header__icon {
    margin-right: 8px;
}

.header__dropdown {
    display: inline-block;
    position: relative;
}

.header__search {
    display: inline-block;
    position: relative;
}

.header__search-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 250px;
    top: 40px;
    right: 0px;
    z-index: 1;

    color: #CCCCCC;
    box-shadow: 0px 0px 10px lightgrey;
    background-color: white;
}

.header__search-field > input {
    border: none;
    width: 100%;
}