.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-top: 25px;
}

.header__logo {
    flex: 1;
    cursor: pointer;
    text-align: center;
}

.header__nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 100px;
}

.header__nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__menu {
    cursor: pointer;
    margin-right: 40px;
}

.header__menu:hover {
    color: #7F7F7F;
    transition: 0.2s;
}

.header__icon {
    margin-right: 8px;
}

.header__dropdown {
    display: inline-block;
    position: relative;
}

.header__dropdown-content {
    position: absolute;
    width: 160px;
    top: 42px;
    z-index: 1;

    color: black;
    background-color: white;
    border: 0.8px solid black;
}

.header__dropdown-content > p {
    cursor: pointer;
    padding: 8px 15px;
}

.header__dropdown-content > p:hover {
    color: #7F7F7F;
}

.header__search {
    display: inline-block;
    position: relative;
}

.header__search-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 250px;
    top: 42px;
    right: 0px;
    z-index: 1;
    padding-right: 10px;

    color: #CCCCCC;
    background-color: white;
    border: 0.8px solid black;
}

.header__search-field > input {
    border: none;
}

.header__modal {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;

    background-color: rgba(0, 0, 0, 0.1);
}

.header__modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 280px;

    padding: 30px 40px 50px 40px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.header__modal-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.header__modal-menu > h1 {
    cursor: pointer;
    margin: 0px 20px 20px 20px;
}

.header__modal-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__modal-form > input {
    flex: 1;
    margin: 8px 0px;
}

.header__modal-form > button {
    margin-top: 12px;
}