.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 100px;
}

.home__menu {
    display: flex;
    width: 100%;
    margin: 80px 0px 40px 0px;
}

.home__menu > h3 {
    cursor: pointer;
    margin-right: 40px;
    transition: 0.2s;
}

.home__menu-inactive {
    color: #CCCCCC;
}

.home__products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.home__products-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    
    width: 100%;
    height: 600px;
}

.home__products-arrow {
    width: fit-content;
    height: fit-content;
}

.home__fade-in {
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}