@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Lato:wght@300;400;700');

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, button, input::placeholder {
    line-height: 2.2em;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h4, h5, h6, p, a, button, input::placeholder {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    word-spacing: 4px;
    letter-spacing: 2px;
}

h2 {
    font-size: 16px;
    font-weight: 500;
}

h3 {
    font-size: 14px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    word-spacing: 3px;
    letter-spacing: 1.3px;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p, a, button {
    font-size: 14px;
    font-weight: 400;
}

a, a:link, a:visited, a:active, a:hover {
    color: black;
    text-decoration: underline;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
}

input {
    font-size: 15px;
    font-weight: 300;

    outline: none;
    padding: 2px 12px;
    border: 0.8px solid black;
}

input::placeholder {
    color: #CCCCCC;
    font-size: 15px;
    font-weight: 300;
}

button {
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    padding: 5px;
    width: 100%;
}

table {
    width: 100%;
}

td, th {
    font-size: 16px;
    font-weight: 300;
    padding: 5px 8px;
}

.table-first-col-left tr td:first-child {
    width: 150px;
    text-align: right;
}

.popup-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 8px lightgrey;

    width: 180px;
    padding: 8px 0px;

    position: absolute;
    z-index: 1;
}

.font-light {
    font-weight: 300;
}

.font-bold {
    font-weight: 700;
}

.font-wide {
    word-spacing: 3px;
    letter-spacing: 1.05px;
}

::-webkit-scrollbar {
    width: 0px;
}

.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;

    box-shadow: 0px 0px 8px lightgray;
    background-color: rgba(0, 0, 0, 0.1);
}